
code/.ipynb_checkpoints/error-statistics-checkpoint.ipynb
code/.ipynb_checkpoints/stanza-lemmatizer-and-tagger-evaluation-checkpoint.ipynb
code/__pycache__/functions.cpython-38.pyc
code/__pycache__/preproc_bert.cpython-38.pyc
data/ud-treebanks/UD_Polish-LFG/LICENSE.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.txt
data/ud-treebanks/UD_Polish-LFG/stats.xml
data/ud-treebanks/UD_Polish-PDB/LICENSE.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.txt
data/ud-treebanks/UD_Polish-PDB/README.md
data/ud-treebanks/UD_Polish-PDB/stats.xml
